<mat-tab-group  animationDuration="2000ms">
    <mat-tab label="Updating Player List">
        <h1 mat-dialog-title></h1>
         <div mat-dialog-content accent-background > 
          <div class="card" *ngIf="playerForm"  >
           <form [formGroup]="playerForm" (ngSubmit)="onSubmit()" id="player">
                  <!-- <div class="form-group ">
                    <label > id</label>
                    <select type="number" class="form-control" formControlName="id">
                        <option *ngFor="let player of listPlayer" [value]="player.id">
                            {{player.id}} 
                        </option> 
                    </select>
                      </div>
    -->
                        <div class="form-group ">
                        <label >shortname </label>
                        <input type="string" formControlName="shortName" class="form-control" placeholder="shortName"  >
                        </div>
                        <div class="form-group ">
                        <label > fullName </label>
                         <input  type="string" formControlName="fullName" class="form-control" placeholder="fullName" > 
                        </div>
                       
                      
                        <div class="form-group">
                        <label > playStoreLink </label>
                        <input type="string" formControlName="playStoreLink" class="form-control" placeholder="playStoreLink" >   
                        </div>
                        
                        
                        <div class="form-group">
                        <label > appStoreLink </label>
                        <input type="string" formControlName="appStoreLink" class="form-control" placeholder="appStoreLink" >
                        </div>
                    
                        <div class="form-group">
                        <label >linkDescription</label>
                        <input type="string" formControlName="linkDescription" class="form-control" placeholder="linkDescription" >
                        </div>
                            
                        <div class="form-group">
                        <label > color </label>
                        <input type="string" formControlName="color" class="form-control" placeholder="color" >
                        
                   
                        <button type="submit" class="btn btn-secondary btn-block" >update</button>
                    </div>
                        <div class="alert alert-success" *ngIf="isLoggedIn">
                            <br>
                            Your Player Just updated  :)
                          </div>
                  
        
        </form>
        </div>
    </div>


    <div mat-dialog-actions>
        <button mat-button class="btn btn-secondary btn-block" (click)="onNoClick()">Close</button>
      </div>
    </mat-tab>
    <mat-tab label="empty">

    </mat-tab>
</mat-tab-group>



<!-- <button class="btn btn-secondary btn-block" onclick="closethis()"> close</button> -->