



  <div class="col-md-12 mt-4 mb-2">
      <div class="flex">
        <div>

          <form class="example-form">
            <mat-form-field class="example-full-width">
            <span matPrefix> </span>
            <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "term">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
            <br/>
            {{search}}
            </form>

          
        </div>
      

  
         <div>   

        <button class="btn-outline-dark" id="btn1" (click)="onClickButton()"> New Company</button>

         </div>



         </div>

      <table class="table table-striped table-dark table-hover" >
          <thead  class="thead-dark">
              <tr class="black">
                  <th> <b>NAME</b></th>
                  <th> ADDRESS</th>
                  <th>  NUMBER OF EMPLOYEES</th>
                  <th> ACTION</th>
              </tr>
          </thead>
          <tbody>
         
              <tr *ngFor="let item of listData | filter:term |paginate: { itemsPerPage: 9, currentPage: page }" >
                  <td>{{item.name}}</td>
                  <td><span>{{item.address}}</span></td>
                  <td><span>{{item.numberOfEmployees}}</span></td>
                 <td>
                                    <button type="button" id="btn2" class="hl-sort btn btn-danger" (click)="removeItem(item)">Remove</button ><br> <br>
                                
                                   <button type="button " id="btn2" class="hl-sort btn btn-warning" (click)="onClickForm(item)">Edit</button> <br>
                            </td>
                           
              </tr>
          </tbody>
      </table>
      
      <pagination-controls class="pagination " (pageChange)="page = $event"></pagination-controls>
  </div>


  <!-- <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>


<form class="example-form">
<mat-form-field class="example-full-width">
<span matPrefix> </span>
<input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
<button matSuffix mat-button><mat-icon >search</mat-icon></button>
</mat-form-field>
<br/>
{{search}}
</form> -->