/* .alert{
    background: black;
    color:red;
    background-color:#111111;
}

.btn{
    color:white;
}

#btn1{

    margin: 10px;
    padding: 10px;
    background: black;
    color:white
    
}

.box{
    width:50%;
    border: 1px dashed rgb(0, 0, 0);
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
  margin-left: 50px;
  }
  .card{
    background-color: #313030;
    width: 700px;
    border: white;
    border-radius: 10px;
    padding: 15px;
  }
  .table{
    margin-top: 10px;
    border: white;
    border-radius: 10px;
    padding: 15px;
    width:600px;
    margin:5px;
    margin-left: 10px;
  }
  

  th, td {
    border: 1px solid black;
    padding:4px 6px;
    color: white;
  }
  table {
    border: 1px solid black;
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
    
  }
  .box{
    width:50%;
    border: 1px dashed rgb(0, 0, 0);
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
  margin-left: 50px;
  }
  .card{
    background-color: #313030;
    width: 500px;
  
    border: white;
    border-radius: 10px;
    padding: 15px;
  
  }
  
  .table{
    margin-top: 10px;
    border: white;
    border-radius: 10px;
    padding: 15px;
    width:600px;
    margin:5px;
    margin-left: 10px;
  }
  th, td {
    border: 1px solid black;
    padding:4px 6px;
    color: white;
  }
  
  .searchTerm {
  padding:8px;
    margin: 2px;
    font-display: arial;
  margin-top: 20px;  
    border:10px;
  } */