
     .hr{
       height:2px;
       margin:60px 0 50px 0;
       background:rgba(255,255,255,.2);
     }
    
    
     .row a{
       font-size: 19px;
       color: rgb(207, 7, 7);
     }
    
     .nav-item a:hover {
       cursor:pointer;
     }
    
     .container1{
      display: grid;
     
    }
    

    .sidebar{
      height: 100vh;
      display: flex;
    
    }
    .sidebarNavigation{
      width:720px;
      display: flex;

     
    
    }
    
    .routerOutlet{
      margin-top: 100px;
    
      display: flex;
      
    
    }
    
    
    
 