
 
<div class="col-md-10 mt-6 ">

    <div class="flex">
        <div>

          <form class="example-form">
            <mat-form-field class="example-full-width">
            <span matPrefix> </span>
            <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "term">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
            <br/>
           
            </form>

          
        </div>
      

  
         <div>   

        <button class="btn-outline-dark" id="btn1"  (click)="onClickButton()"> ADD NEW PLAYER</button>
        <button class="btn-outline-dark" id="btn1"  (click)="onClickButton()"> ADD DISCOUNT TO PLAYER</button>

         </div>



         </div>
    <table class="table table table-bordered table-dark table-striped table-dark" id="table" >
        
        <thead class="thead-dark ">
            <tr class="black">
                <th> SHORTNAME</th>
                <th> FULLNAME</th>
                <th>  PLAYSTORELINK</th>
                <th> APPSTORLINK</th>
                <th> LINKDESCRIPTION</th>
                <th> COLOR</th>
                <th> DICOUNT TYPE  </th>
                 <th colspan=5>CATEGORY</th>
                <th colspan=10> ACTION</th>
            </tr>
        </thead>
      
        <tbody class="table-striped">
         
            <tr *ngFor="let item of listData | filter:term">
                <td><span>
                    {{item.shortName}}
                </span></td>
                <td><span>{{item.fullName}}</span></td>
                <td><span>{{item.playStoreLink}}</span></td>
                <td><span>{{item.appStoreLink}}</span></td>
                <td><span>{{item.linkDescription}}</span></td>
                <td><span>{{item.color}}</span></td>
                <td ><span>
                    <div *ngFor="let person of item.discountTypes">
                       {{person.name}}
                    </div>
                </span></td>
                <td colspan=10><span>
                    <div *ngFor="let person of item.categories">
                       <LI>

                          {{person.name}}
                       </LI>
                     </div>
                </span></td>
            
            
                
                <div class="yeer" colspan=10>
                
                            <button type="button" id="btn2"  class="btn btn-danger" (click)="removeItem (item )"> Remove</button><br> <br>
                            <button type="button"  id="btn2" class="btn btn-warning" (click)="onClickForm(item)"> Edit</button> <br>
                             
                       
                            
                        </div>
            </tr>
          
        </tbody>
    </table>
    <pagination-controls class="pagination " (pageChange)="page = $event"></pagination-controls>

</div>



<!-- 
 <div *ngFor="let group of listData " >
    {{group.discountTypes}}


<div *ngFor="let person of group.discountTypes">
        <td><span>{{person.name}}</span></td>
        <td><span></span></td>
</div>



</div>  -->
